# Clase 5: 
Notebook creado por los docentes Andres Castro y Leonardo Duque. Modificado por Cristian Guarnizo.

### 1. Estructuras de datos:

#### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     1.1 Tuplas
####  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    1.2 Diccionarios

### 2. Funciones

## Tuplas


Similar a las listas, con la diferencia que las tuplas son inmutables, es decir, una tupla no puede ser modificada.

Se crean con la siguiente sintaxis:

$tupla$ = <font color="blue" size=5>(</font> $elemento_1$, $elemento_2$, $elemento_3$,...,$elemento_n$ <font color="blue" size=5>)</font>

Ejemplo:

In [ ]:
#Crear lista, modificar. Crear tupla, modificar
lista = [9,4,21,6]
print(lista)
print(type(lista))

lista[3] = 43
print(lista)


tupla = (9,4,21,6)
print(tupla)
print(type(tupla))

# tupla[3] = 43
# tupla.append(5)
# print(tupla)

#Imprimir elementos
print(tupla[3])
print(tupla[0])
print(tupla[-2])

#slicing de tupla
# print(tupla[0:3])
print(tupla[::3])
#print(tupla[::-1])
print(tupla[:2])
#print(tupla[2:])

[9, 4, 21, 6]
<class 'list'>
[9, 4, 21, 43]
(9, 4, 21, 6)
<class 'tuple'>
6
9
21
(9, 6)
(9, 4)

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
tupla = tupla*2

In [ ]:
print(tupla)

(9, 4, 21, 6, 9, 4, 21, 6)

In [ ]:
tuple.index?

In [3]:
#tuple.count?
tupla = (1,1,4,5,2,123,55,12,3,45,5,3,2,3,1,1,1,1)
print(tupla.count(2))
print(tupla.count(20))

print(tupla.index(5,3))

2
0
3

In [4]:
idx = -1
while(5 in tupla[idx+1:]):
    try:
        idx = tupla.index(5, idx+1)
        print(f"Hay un 5 en la posición {idx}")
    except:
        break

print("Funcionó hasta acá")
#Exception handling (Manejo de excepciones)

Hay un 5 en la posición 3
Hay un 5 en la posición 10
Funcionó hasta acá

In [5]:
idx = tupla.index(5, 11)

ValueError: ignored

In [ ]:
print(lista)

[9, 4, 21, 43]

In [ ]:
for i in enumerate(lista): #Las funciones que retornan dos o más valores en una sola variable
                           # los retorna como una tupla
    print(i)
    print(type(i))

(0, 9)
<class 'tuple'>
(1, 4)
<class 'tuple'>
(2, 21)
<class 'tuple'>
(3, 43)
<class 'tuple'>

In [ ]:
tupla = (9,4,21,6) #unpacking
print(tupla)

a,b,c,d = tupla

print(a,b,c,d,sep='\n')

(9, 4, 21, 6)
9
4
21
6

In [ ]:
tupla = (9,4,21,6) #unpacking
print(tupla)

a,b,*c = tupla

print(a,b,c,sep='\n')

(9, 4, 21, 6)
9
4
[21, 6]

## Diccionarios

Una estructura de datos muy útil en Python es el diccionario, con la siguiente sintaxis:

$diccionario$ = <font color="blue" size=5>{</font> $key_1:elemento_1$, $key_2:elemento_2$, $key_3:elemento_3$,...,$key_n:elemento_n$ <font color="blue" size=5>}</font>

Donde $key_i$ se refiere a un indicador, llave o clave única para el elemento $i$. Observemos el siguiente ejemplo:

In [ ]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
Dic = {"primero":1,"segundo": 2, "letra": 'a', 5.1 : [50,5,2,1,6]}

print(type(Dic))
print(Dic)

print(Dic['primero'])
print(Dic['letra'])

print(Dic.keys())
print(Dic.values())
print(Dic.items())

<class 'dict'>
{'primero': 1, 'segundo': 2, 'letra': 'a', 5.1: [50, 5, 2, 1, 6]}
1
a
dict_keys(['primero', 'segundo', 'letra', 5.1])
dict_values([1, 2, 'a', [50, 5, 2, 1, 6]])
dict_items([('primero', 1), ('segundo', 2), ('letra', 'a'), (5.1, [50, 5, 2, 1, 6])])

In [ ]:
Dic.setdefault?

In [ ]:
key = 5.1
if key in Dic.keys():
    print("Si existe!")

Si existe!

In [ ]:
print(Dic)
# print(Dic[4])

print(Dic.get(4))
print(Dic.get(5.1,"No existe"))

print("fin de la celda")

{'primero': 1, 'segundo': 2, 'letra': 'a', 5.1: [50, 5, 2, 1, 6]}
None
[50, 5, 2, 1, 6]
fin de la celda

In [ ]:
print(Dic.setdefault(8,5))
print(Dic)
print(Dic.setdefault("primero",100))
print(Dic)

5
{'primero': 1, 'segundo': 2, 'letra': 'a', 5.1: [50, 5, 2, 1, 6], 8: 5}
1
{'primero': 1, 'segundo': 2, 'letra': 'a', 5.1: [50, 5, 2, 1, 6], 8: 5}

In [ ]:
Dic[10] = [1,2,3,4,5]
print(Dic)

{'primero': 1, 'segundo': 2, 'letra': 'a', 5.1: [50, 5, 2, 1, 6], 8: 5, 10: [1, 2, 3, 4, 5]}

In [ ]:
Dic.clear()
print(Dic)

{}

In [ ]:
help(dict.fromkeys)

Help on built-in function fromkeys:

fromkeys(iterable, value=None, /) method of builtins.type instance
    Create a new dictionary with keys from iterable and values set to value.

In [ ]:
Dic = Dic.fromkeys('aeiou',0)
print(Dic)

{'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

In [ ]:
Dic = Dic.fromkeys([0,10,20,30,40,50,60,70],0)
print(Dic)

{0: 0, 10: 0, 20: 0, 30: 0, 40: 0, 50: 0, 60: 0, 70: 0}

In [ ]:
Dic[10] = 1000
print(Dic)

{0: 0, 10: 1000, 20: 0, 30: 0, 40: 0, 50: 0, 60: 0, 70: 0}

In [ ]:
estudiantes = {"Juan":[22, "Casas", "ITM"], "Pedro":[23, "Lopez", "Pascual Bravo"]}
estudiantes2 = {"Juan":[22, "Casas", "ITM"], "Pedro":[23, "Lopez", "Pascual Bravo"]}
#Acceso al diccionario <estudiantes> en la llave "Juan"


estudiantes["Andres"] = [30,'Castro','ITM']
estudiantes["Lizeth"] = [20,'Verdugo','ITM']
estudiantes["Juan"] = [44,'Vanegas','Colegio Mayor','1234']

print(estudiantes)

{'Juan': [44, 'Vanegas', 'Colegio Mayor', '1234'], 'Pedro': [23, 'Lopez', 'Pascual Bravo'], 'Andres': [30, 'Castro', 'ITM'], 'Lizeth': [20, 'Verdugo', 'ITM']}

In [ ]:
print(estudiantes.keys())

dict_keys(['Juan', 'Pedro', 'Andres', 'Lizeth'])

In [ ]:
estudiantes.update?

In [ ]:
print(estudiantes2)
estudiantes2.update(estudiantes)
print(estudiantes2)

{'Juan': [22, 'Casas', 'ITM'], 'Pedro': [23, 'Lopez', 'Pascual Bravo']}
{'Juan': [44, 'Vanegas', 'Colegio Mayor', '1234'], 'Pedro': [23, 'Lopez', 'Pascual Bravo'], 'Andres': [30, 'Castro', 'ITM']}

In [ ]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [ ]:
T = estudiantes.pop('Juan')
print(T)
print(estudiantes)

[44, 'Vanegas', 'Colegio Mayor', '1234']
{'Pedro': [23, 'Lopez', 'Pascual Bravo'], 'Andres': [30, 'Castro', 'ITM']}

In [ ]:
T = estudiantes.pop('Jose',0)
print(T)
print(estudiantes)

0
{'Pedro': [23, 'Lopez', 'Pascual Bravo'], 'Andres': [30, 'Castro', 'ITM']}

In [ ]:
help(estudiantes.popitem)

Help on built-in function popitem:

popitem(...) method of builtins.dict instance
    D.popitem() -> (k, v), remove and return some (key, value) pair as a
    2-tuple; but raise KeyError if D is empty.

In [ ]:
k,v = estudiantes.popitem()
print(k,v)
print(estudiantes)

Andres [30, 'Castro', 'ITM']
{'Juan': [44, 'Vanegas', 'Colegio Mayor', '1234'], 'Pedro': [23, 'Lopez', 'Pascual Bravo']}

## Iterar Diccionarios

In [ ]:
for k,v in estudiantes.items():
    print(f"Llave: {k} tiene valor {v}")

Llave: Juan tiene valor [44, 'Vanegas', 'Colegio Mayor', '1234']
Llave: Pedro tiene valor [23, 'Lopez', 'Pascual Bravo']
Llave: Andres tiene valor [30, 'Castro', 'ITM']
Llave: Lizeth tiene valor [20, 'Verdugo', 'ITM']

In [ ]:
#llaves = estudiantes.keys()

for key in estudiantes.keys():
#     print(key)
    print(f"llave: {key}, tiene valor: {estudiantes[key]}")

llave: Juan, tiene valor: [44, 'Vanegas', 'Colegio Mayor', '1234']
llave: Pedro, tiene valor: [23, 'Lopez', 'Pascual Bravo']
llave: Andres, tiene valor: [30, 'Castro', 'ITM']
llave: Lizeth, tiene valor: [20, 'Verdugo', 'ITM']

In [ ]:
for v in estudiantes.values():
    print(v)

[44, 'Vanegas', 'Colegio Mayor', '1234']
[23, 'Lopez', 'Pascual Bravo']
[30, 'Castro', 'ITM']
[20, 'Verdugo', 'ITM']

### Llenando un diccionario

Para ello analicemos el siguiente ejemplo:

In [ ]:
import math

tabla_factorial = {} #diccionario vacio
# tabla_factorial = dict()
print(tabla_factorial)

for i in range(15):
    tabla_factorial[i] = math.factorial(i)

print(tabla_factorial)

{}
{0: 1, 1: 1, 2: 2, 3: 6, 4: 24, 5: 120, 6: 720, 7: 5040, 8: 40320, 9: 362880, 10: 3628800, 11: 39916800, 12: 479001600, 13: 6227020800, 14: 87178291200}

In [ ]:
math.factorial(1000000)

KeyboardInterrupt: ignored

In [ ]:
print(tabla_factorial[8])

40320

In [ ]:
for key, valor in tabla_factorial.items():
    print(f"factorial de {key} es {valor}")

factorial de 0 es 1
factorial de 1 es 1
factorial de 2 es 2
factorial de 3 es 6
factorial de 4 es 24
factorial de 5 es 120
factorial de 6 es 720
factorial de 7 es 5040
factorial de 8 es 40320
factorial de 9 es 362880
factorial de 10 es 3628800
factorial de 11 es 39916800
factorial de 12 es 479001600
factorial de 13 es 6227020800
factorial de 14 es 87178291200

## Ejercicios

1. Itere una tupla de datos mixtos e imprima únicamente los valores enteros

2. Imprima cada una de las claves de un diccionario 

3. Imprima cada uno de los valores de un diccionario

4. Imprima ambas, clave y valor de un diccionario

5. Estime el promedio de todos los valores en un diccionario

6. Actualice los valores de un diccionario reduciendo un 25% de cada valor

In [ ]:
t = (1,3,67,7.6,0.4,'d','F', 100, 'Hola', 8.9, 7+7j,7,1.4)
print(t)

#1. Itere una tupla de datos mixtos e imprima únicamente los valores enteros

for i in t:
    if type(i) == int:
        print(i)

(1, 3, 67, 7.6, 0.4, 'd', 'F', 100, 'Hola', 8.9, (7+7j), 7, 1.4)
1
3
67
100
7

In [ ]:
D = dict.fromkeys('LPW72',0)
print(D)

# 2. Imprima cada una de las claves de un diccionario
print(D.keys())

for i in D.keys():
    print(i)

# 3. Imprima cada uno de los valores de un diccionario
print(D.values())

for i in D.values():
    print(i)

# 4. Imprima ambas, clave y valor de un diccionario
for llave, valor in D.items():
    print(f"Llave={llave}, valor={valor}")

print("\nOtra forma \n")
for i in D.keys():
    print(f"Llave={i}, valor={D[i]}")

{'L': 0, 'P': 0, 'W': 0, '7': 0, '2': 0}
dict_keys(['L', 'P', 'W', '7', '2'])
L
P
W
7
2
dict_values([0, 0, 0, 0, 0])
0
0
0
0
0
Llave=L, valor=0
Llave=P, valor=0
Llave=W, valor=0
Llave=7, valor=0
Llave=2, valor=0

Otra forma

Llave=L, valor=0
Llave=P, valor=0
Llave=W, valor=0
Llave=7, valor=0
Llave=2, valor=0

In [ ]:
# 5. Estime el promedio de todos los valores en un diccionario

D5 = {'elem1': 500, 'elem2': 1200, 'elem3': 700, 'elem4': 800, 'elem5':200}
print(D5)

suma = 0
cont = 0

for i in D5.values():
    suma = suma + i
    cont = cont + 1
    
print(f"Promedio={suma/cont}")

{'elem1': 500, 'elem2': 1200, 'elem3': 700, 'elem4': 800, 'elem5': 200}
Promedio=680.0

In [ ]:
Valores = D5.values()

sum(Valores)/len(Valores)

680.0

In [ ]:
# 5. Estime el promedio de todos los valores NUMERICOS en un diccionario
D5 = {'elem1': 500.0, 'elem2': 1200.0, 'elem3': 700.0, 'elem4': 800.0, 'elem5':200, 
     "elem6": 'hola', "elem7":200}
print(D5)

suma = 0
cont = 0

for i in D5.values():
    if (type(i) == int or type(i)==float):
        suma = suma + i
        cont = cont + 1
    
print(f"Promedio={suma/cont}")

{'elem1': 500.0, 'elem2': 1200.0, 'elem3': 700.0, 'elem4': 800.0, 'elem5': 200, 'elem6': 'hola', 'elem7': 200}
Promedio=600.0

In [ ]:
#Actualice los valores de un diccionario reduciendo un 25% de cada valor que sea numérico
D5 = {'elem1': 500, 'elem2': 1200, 'elem3': 700, 'elem4': 800, 'elem5':200, 
      'elem6':'hola!', 'elem7':250.5}

for llave,i in D5.items():
    if (type(i) == int or type(i)==float):
        v = i - i*0.25
        D5[llave] = v
        
print(D5)

{'elem1': 375.0, 'elem2': 900.0, 'elem3': 525.0, 'elem4': 600.0, 'elem5': 150.0, 'elem6': 'hola!', 'elem7': 187.875}

In [ ]:
#Actualice los valores de un diccionario reduciendo un 25% de cada valor que sea numérico
D5 = {'elem1': 500, 'elem2': 1200, 'elem3': 700, 'elem4': 800, 'elem5':200, 
      'elem6':'hola!', 'elem7':250.5}

for llave in D5.keys():
    valor = D5[llave]
    if (type(valor) == int or type(valor)==float):
        valorNuevo = valor - valor*0.25
        D5[llave] = valorNuevo
        
print(D5)

{'elem1': 375.0, 'elem2': 900.0, 'elem3': 525.0, 'elem4': 600.0, 'elem5': 150.0, 'elem6': 'hola!', 'elem7': 187.875}

# Funciones


# Declaración de funciones

En Python se utiliza la palabra reservada **def** para definir una función. La sintaxis es la siguiente:

<br>

 **def** _nombreDeLaFuncion_ **(** $parametro_1, parametro_2, ..., parametro_n$ **):** 

A continuación un ejemplo:

In [ ]:
def imprimirMensaje(nombre="Samuel"):
    '''
    Docstring.
    Procedimiento que imprime un mensaje utilizando un valor de entrada.
    
    INPUT:
        nombre: str
    OUTPUT:
        None
    '''
    if(type(nombre) != str): #validamos que el argumento <nombre> sea de tipo string
        print("Error, el parámetro de entrada debe ser un str.")        
    else:
        print(f"Hola {nombre}. Bienvenido al curso")

In [ ]:
print(imprimirMensaje())

Hola Samuel. Bienvenido al curso
None

In [ ]:
help(imprimirMensaje)
# imprimirMensaje?

Help on function imprimirMensaje in module __main__:

imprimirMensaje(nombre)
    Docstring.
    Procedimiento que imprime un mensaje utilizando un valor de entrada.

    INPUT:
        nombre: str
    OUTPUT:
        None

In [ ]:
#llamado a la funcion
s = 'Miguel'

imprimirMensaje(s)
imprimirMensaje(98.86)

Hola Miguel. Bienvenido al curso
Error, el parámetro de entrada debe ser un str.

# Parámetros y argumentos

Definiciones:

1. **Parámetros**: Variables de la definición de la función y a las que son asignadas un valor al momento de llamar la función.
2. **Argumentos**: Valores que son asignados a los parámetros de la función al momento del llamado.

El número de parámetros que puede recibir una función es arbitrario, es decir, tantos como se necesiten.

In [ ]:
def miFuncion(a,b,c,d): #parametros de la funcion: a, b, c, d
    '''
    Función que recibe cuatro parámetros y retorna el cuadrado del producto de ellos
    '''
    f = (a*b*c*d)
    
    return f**2

print(miFuncion(1,1,1,1))

1

In [ ]:
resultado = miFuncion(1,2,3,1) #argumentos de la funcion
print(resultado)

36

## Parámetros por defecto

Python permite la asignación de valores por defecto a los parámetros de una función. Esto es, es posible asignar un valor por defecto a uno o varios parámetros de la función, de tal forma que si el usuario no ingresa un argumento para un parámetro, se asigna el valor por defecto a este último.

In [ ]:
def miFuncion(a,b=1,c=1,d=2): #parametros de la funcion: a, b, c, d
    '''
    Función que recibe cuatro parámetros y retorna el cuadrado producto de ellos
    '''
    f = (a*b*c*d)
    
    return f**2

resultado = miFuncion(2) #argumentos de la funcion
print(resultado)

16

In [ ]:
def y(v0, t, g=9.8): #valor por defecto para el parámetro g
    y = v0*t - 0.5*g*t**2
    
    return y

In [ ]:
for t in range(1,5):
    print("tiempo: "+str(t)+" "+str(y(5,t)))

tiempo: 1 0.09999999999999964
tiempo: 2 -9.600000000000001
tiempo: 3 -29.1
tiempo: 4 -58.400000000000006

In [ ]:
for t1 in range(1,5):
    print("tiempo: "+str(t1),y(t = t1, v0 = 5)) #llamada a la funcion utilizando el valor por defecto para g

tiempo: 1 0.09999999999999964
tiempo: 2 -9.600000000000001
tiempo: 3 -29.1
tiempo: 4 -58.400000000000006

## *args y ***kwargs
https://python-intermedio.readthedocs.io/es/latest/args_and_kwargs.html

In [ ]:
def test_var_args(f_arg, *argv):
    print("primer argumento normal:", f_arg)
    print(type(argv))
    for arg in argv:
        print("argumentos de *argv:", arg)

test_var_args('python', 'foo', 'bar')

primer argumento normal: python
<class 'tuple'>
argumentos de *argv: foo
argumentos de *argv: bar

In [ ]:
def saludame(**kwargs):
    for key, value in kwargs.items():
        print("{0} = {1}".format(key, value))

saludame(nombre="Covadonga", apellido = "Verdugo")

nombre = Covadonga
apellido = Verdugo

# 2.3. Valores de retorno

Una función puede retornar un valor. En cuyo caso utilizamos la palabra reservada __return__.

Sintaxis:
    
__return__ objeto_a_retornar

In [ ]:
def cuad(x):
    return x**2 #se retorna el valor x al cuadrado

In [ ]:
x = 15

Respuesta = cuad(x)

print(Respuesta)
print(type(Respuesta))
print(cuad(x))

225
<class 'int'>
225

Una función con valor de retorno, equivale en el momento del llamado, al tipo de dato que retorna. Es decir, una función que devuelve o retorna un valor, soporta todas las operaciones del tipo de dato que retorna.

In [ ]:
import math

x = 1
y = math.sqrt(cuad(x) + 3.24) #estamos utilizando cuad(x) como un flotante

print(y)

2.0591260281974

## Múltiples valores de retorno

En caso de que una funcion deba retornar más de un valor, podemos:

1. __Agregar los elementos__ a retornar en una estructura de datos.
2. __Retornar los elementos separados por coma (,)__: En este caso, Python se encarga de agregar automáticamente los elementos en una tupla.

In [ ]:
## definir una función que reciba dos números como parámetros, debemos
## retornar la suma, la resta, el producto y la división de los 
## dos números

def ejemplo(*args):
    num1, num2, *_ = args
    suma = num1+num2
    resta = num1-num2
    producto = num1*num2
    division = num1/num2

    lista = [suma, resta, producto, division]
    
    return lista

In [ ]:
## definir una función que reciba dos números como parámetros, debemos
## retornar la suma, la resta, el producto y la división de los 
## dos números

def ejemplokwargs(**args):
    num1 = args['e1']
    num2 = args['e2']
    suma = num1+num2
    resta = num1-num2
    producto = num1*num2
    division = num1/num2

    lista = [suma, resta, producto, division]
    
    return lista

In [ ]:
ejemplokwargs(e1=1,e2=2)

[3, -1, 2, 0.5]

In [ ]:
a = 3
b = 2

L = ejemplo(a,b)
print(type(L))
print(L)
print(L[2])

<class 'list'>
[5, 1, 6, 1.5]
6

In [ ]:
def ejemplo2(num1,num2):
    suma = num1+num2
    resta = num1-num2
    producto = num1*num2
    division = num1/num2

    dic = {"s":suma, "r": resta, "p":producto, "div":division}
    
    return dic

In [ ]:
dic = ejemplo2(1,2)
print(dic['s'])

3

In [ ]:
a = 3

L = ejemplo2(a,2)
print(type(L))
print(L)
print(L["s"])

<class 'dict'>
{'s': 5, 'r': 1, 'p': 6, 'div': 1.5}
5

In [ ]:
a=3
b=1
def suma(a):
  return a+b

print(suma(1))
print(a)

2
3

In [ ]:
def ejemplo3(num1,num2):
    suma = num1+num2
    resta = num1-num2
    producto = num1*num2
    division = num1/num2
    
    return suma, resta, producto, division

In [ ]:
a = 3
b = 2

s,r,*c = ejemplo3(a,b)
print(s,r,c)

5 1 [6, 1.5]

## Los elementos retornados se pueden almacenar de manera independiente

In [ ]:
s,r,p,d = ejemplo3(a,b) #unpacking

print(type(s))
print(s)
print(type(r))
print(r)
print(type(p))
print(p)
print(type(d))
print(d)

<class 'int'>
5
<class 'int'>
1
<class 'int'>
6
<class 'float'>
1.5

# Localidad y globalidad de una variable

Una variable puede ser local o global respecto a una función, i.e., el valor de la variable puede existir de forma interna o externa a la función. Por definición, todo parámetro de una función es local a la misma.

In [ ]:
c = 10 #c es una variable por fuera de la funcion suma, esto es, c es global

def suma(a, b):
    c = a + b #la variable c es local respecto a la funcion suma
    return c

print("Valor de c dentro de la funcion: ", suma(2, 4))
print("Valor de c por fuera de la funcion: ", c)

Valor de c dentro de la funcion:  6
Valor de c por fuera de la funcion:  10

In [ ]:
print(c)

10

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Ejercicios


### 1. Escriba un programa que reciba los valores de dos catetos de un triángulo rectángulo y retorne el valor de la hipotenusa del triángulo. 

### 2. Se debe crear un programa que solicite números enteros a un usuario hasta que ingrese una 'Q'. Los números se deben almacenar en una lista, pero un número solo puede estar únicamente una vez. Es decir, aunque el usuario ingrese números repetidos, estos no se deben almacenar en la lista. 

### 3. Escribe un programa que lea una cadena y devuelva un diccionario con la cantidad de apariciones de cada caracter en la cadena.

### 4. Crea un programa que pida dos número enteros al usuario y diga si alguno de ellos es múltiplo del otro. Crea un programa que reciba los dos números para evaluar si ambos son multiplos, y devuelve un valor booleano.

### 5. Crea un programa “calcularMaxMin” que recibe una lista con valores numéricos y devuelve el valor máximo y el mínimo.

### 6. Crear una función que reciba un año y retorne un valor booleano (True o False) si el año es bisiesto o no, respectivamente.

### 7. Crear un programa que solicite una palabra e imprima el número de veces que aparece cada vocal

### 8. Crear un programa que reciba una palabra e indique si es palíndrome

In [ ]:
# 1. Escriba una función que reciba los valores de dos catetos de un triángulo 
#rectángulo y retorne el valor de la hipotenusa del triángulo.

#Como programa:
cat1 = 12
cat2 = 12

hip = (cat1**2 +  cat2**2)**(1/2)
print(hip)

16.97056274847714

In [ ]:
#Como funcion

def hipotenusa(cat1, cat2):
    return (cat1**2 +  cat2**2)**(1/2)

In [ ]:
print(hipotenusa(4,3))
print(hipotenusa(10,20))
H5 = hipotenusa(12,12)
print(H5)

5.0
22.360679774997898
16.97056274847714

In [ ]:
# 2. Se debe crear un programa que solicite números enteros a un usuario hasta que 
#ingrese una 'Q'. Los números se deben almacenar en una lista, pero un número 
#solo puede estar únicamente una vez. Es decir, aunque el usuario ingrese números 
#repetidos, estos no se deben almacenar en la lista.

In [ ]:
#3. Escribe un programa que lea una cadena de caracteres y devuelva un diccionario con la 
# cantidad de apariciones de cada caracter en la cadena.

# si se ingresa 'Holaaaa' --> {'H':1, 'o':1, 'l':1, 'a':4}

In [ ]:
# 4. Crea un programa que pida dos número enteros al usuario y diga si alguno de 
# ellos es múltiplo del otro. Crea una función EsMultiplo que reciba los dos números, 
# y devuelve un valor booleano.

In [ ]:
# 5. Crea una función “calcularMaxMin” que recibe una lista con valores numéricos 
# y devuelve el valor máximo y el mínimo.

In [ ]:
# 6. Crear una función que reciba un año y retorne un valor booleano (True o False) 
# si el año es bisiesto o no, respectivamente.

# Un año es bisiesto si es divisible entre 400 o si
# es múltiplo de 4 y no divisible por 100

In [ ]:
# 7. Crear un programa que solicite una palabra e imprima 
# el número de veces que aparece cada vocal

In [ ]:
# 8. Programa que reciba una palabra e indique si es palíndrome